/************ LAYOUT **************/
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&&display=swap");
/************** FONT *************/
/************** COLOR *************/
header .bg-img-header-top {
  background: url(../img/bg-slider-06.jpg) center center/cover;
  height: 100vh;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
header nav ul:nth-of-type(1) li {
  list-style: none;
  font-family: "Allura", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
header nav ul:nth-of-type(2) {
  display: none;
}
header nav .nav-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px;
}
header .top-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-bottom: 175px;
}
header .top-header-container .h1-div {
  text-align: center;
  margin-top: 10px;
}
header .top-header-container .gold-color {
  color: #cdaf74;
  font-family: "Allura", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0;
}
header .top-header-container h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  padding-bottom: 35px;
  font-size: clamp(1.5rem, 4vw, 3.5rem);
}
header .top-header-container .top-header-img {
  background: url(/img/ic-plate-big.png) no-repeat center/contain;
  width: clamp(20px, 10vw, 40px);
  height: clamp(20px, 10vw, 40px);
}
header .top-header-container p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.7rem, 1.8vw, 1rem);
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding-top: clamp(2rem, 3vw, 4rem);
}
header .bottom-header {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
header .bottom-header .bottom-header-border {
  border: 1px dotted #cdaf74;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .bottom-header .bottom-header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
header .bottom-header .bottom-header-container h2 {
  width: 70%;
  font-family: "Allura", sans-serif;
  font-size: 1.8rem;
  color: #cdaf74;
  line-height: 0.8;
  font-weight: 500;
}
header .bottom-header .bottom-header-container .basic-title {
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 0.8;
  font-weight: 700;
}
header .bottom-header .bottom-header-container .bottom-header-img1 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .bottom-header .bottom-header-container .header-p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
header .bottom-header .bottom-header-container .bottom-header-img2 {
  background: url(/img/avatar-01.jpg) no-repeat center/contain;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 10px;
}
header .bottom-header .bottom-header-container p {
  width: 70%;
  font-family: "Poppins", sans-serif;
}
header .bottom-header .bottom-header-container .chef-name {
  font-weight: 500;
  line-height: 1.2;
}
header .bottom-header .bottom-header-container .chef-attribute {
  color: rgb(134, 134, 134);
  line-height: 2;
  font-size: 0.6rem;
}
header .bottom-header .bottom-header-right-container {
  display: none;
}

/**************MEDIA QUERIES************/
@media (min-width: 768px) {
  header .top-header-container br {
    display: none;
  }
}
@media (min-width: 1024px) {
  header nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header nav ul:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    gap: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
  }
  header .top-header-container .top-header-img {
    margin-bottom: 25px;
  }
  header .top-header-container p {
    margin-bottom: 45px;
  }
  header .bottom-header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }
  header .bottom-header .bottom-header-border {
    padding: 15px;
  }
  header .bottom-header .bottom-header-container {
    border: 1px dotted #cdaf74;
    padding: 15px;
    margin: 0;
  }
  header .bottom-header .bottom-header-right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(/img/store-01.jpg) center center/cover;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  header .top-header-container p {
    padding-top: 5px;
  }
}
.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37342f;
  position: relative;
  z-index: 1;
}
.section1 .bg-img-section1 {
  background: url(/img/bg-menu-01.jpg) center bottom/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  z-index: 2;
}
.section1 .top-section1,
.section1 .bottom-section1 {
  position: relative;
  z-index: 3;
}
.section1 .top-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section1 .top-section1 div:first-of-type {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .top-section1 div:first-of-type h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: clamp(1.8rem, 3vw, 5rem);
  font-weight: 300;
}
.section1 .top-section1 .top-img-section1 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: clamp(20px, 8vw, 30px);
  height: clamp(20px, 8vw, 30px);
  margin-bottom: 5px;
}
.section1 .top-section1 div:last-of-type {
  width: 85%;
}
.section1 .top-section1 div:last-of-type nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}
.section1 .top-section1 div:last-of-type nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.section1 .top-section1 div:last-of-type nav li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: clamp(0.8rem, 1.2vw, 2rem);
  color: white;
  position: relative;
  padding-bottom: 10px;
}
.section1 .top-section1 div:last-of-type nav li::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: white;
  bottom: 0;
}
.section1 .bottom-section1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .bottom-section1 .bottom-section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 100px;
}
.section1 .bottom-section1 .bottom-section1-container::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #cdaf74;
  height: 4px;
  width: 100%;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 {
  margin-top: 20px;
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, rgb(174, 174, 174) 0, rgb(174, 174, 174) 1px, transparent 2px, transparent 6px);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 .img-menu-details {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: clamp(48px, 5vw, 70px);
  height: clamp(50px, 5vw, 70px);
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 .img1 {
  background-image: url(/img/dish-item-01.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 200;
  color: black;
  padding-top: 5px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 div:last-of-type {
  color: #cdaf74;
  font-size: 0.9rem;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details {
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, rgb(174, 174, 174) 0, rgb(174, 174, 174) 1px, transparent 2px, transparent 6px);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 200;
  color: black;
  padding-top: 5px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details div :last-of-type {
  color: #cdaf74;
  font-size: 0.9rem;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: clamp(48px, 5vw, 70px);
  height: clamp(50px, 5vw, 70px);
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img2 {
  background-image: url(/img/dish-item-02.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img3 {
  background-image: url(/img/dish-item-03.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img4 {
  background-image: url(/img/dish-item-04.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img5 {
  background-image: url(/img/dish-item-05.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img6 {
  background-image: url(/img/dish-item-06.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img7 {
  background-image: url(/img/dish-item-07.jpg);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img8 {
  background-image: url(/img/dish-item-08.jpg);
}

/**************MEDIA QUERIES************/
@media (min-width: 768px) {
  .section1 .top-section1 div:nth-of-type(2) nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1 .bottom-section1 .bottom-section1-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-bottom: 0;
    padding-top: 15px;
  }
  .section1 .bottom-section1 .bottom-section1-container::before {
    top: 0;
  }
  .section1 .bottom-section1 .bottom-section1-container .menu-details1 {
    margin-top: 0;
  }
  .section1 .bottom-section1 .bottom-section1-container .menu-details {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .section1 .top-section1 .top-img-section1 {
    margin-bottom: 25px;
  }
  .section1 .top-section1 div:nth-of-type(2) nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section2 {
  background-color: #37342f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .section2-top-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .border-top-section2 {
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 70px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .top-container-section2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: black;
  border: 1px dotted white;
}
.section2 .top-container-section2 h4:nth-of-type(1) {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  font-size: clamp(1.8rem, 3vw, 5rem);
  font-weight: 200;
  line-height: 0.8;
}
.section2 .top-container-section2 h4:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.2rem, 2vw, 4rem);
  font-weight: 600;
  line-height: 0.5;
  margin-bottom: 20px;
}
.section2 .top-img-section2 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  margin-bottom: 30px;
}
.section2 .text1-container {
  margin-bottom: 25px;
}
.section2 .text1-container p:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
  margin-bottom: 10px;
}
.section2 .text1-container p:nth-of-type(2),
.section2 .text1-container p:nth-of-type(3) {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
.section2 .text2-container {
  margin-top: 20px;
  margin-bottom: 25px;
}
.section2 .text2-container p:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
  margin-bottom: 10px;
}
.section2 .text2-container p:nth-of-type(2),
.section2 .text2-container p:nth-of-type(3) {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
.section2 .text3-container {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
}
.section2 .bottom-section2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
.section2 .bottom-section2 .bottom-section2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .bottom-section2 .bottom-section2-container h4:nth-of-type(1) {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  font-size: clamp(1.8rem, 3vw, 5rem);
  font-weight: 200;
  line-height: 0.8;
  margin-top: 20px;
}
.section2 .bottom-section2 .bottom-section2-container h4:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.2rem, 2vw, 4rem);
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 30px;
}
.section2 .bottom-section2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: clamp(100px, 50vw, 600px);
}
.section2 .bottom-section2 form input,
.section2 .bottom-section2 form select {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 8px;
}
.section2 .bottom-section2 form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .bottom-section2 form button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  width: clamp(30px, 40vw, 150px);
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.section2-bis {
  display: none;
}

/**************MEDIA QUERIES************/
@media (min-width: 768px) {
  .section2 .section2-top-container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 90%;
    margin-top: 40px;
  }
  .section2 .section2-top-container .border-top-section2 {
    width: 100%;
    margin-top: 0;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section2 .section2-top-container .top-container-section2 {
    white-space: nowrap;
  }
  .section2 .section2-top-container .bottom-section2 {
    width: 100%;
    height: 100%;
  }
  .section2 .section2-top-container .bottom-section2 .bottom-section2-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .section2-top-container .bottom-section2 .bottom-section2-container form {
    width: clamp(40%, 30vw, 90%);
    display: grid;
    grid-template-columns: 50% 50% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  .section2 .section2-top-container .bottom-section2 .bottom-section2-container .form-button {
    grid-column: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
  .section2-bis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #37342f;
  }
  .section2-bis .section2-bis-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section2-bis .section2-bis-top-container div:first-of-type h4:nth-of-type(1) {
    font-family: "Allura", sans-serif;
    color: #cdaf74;
    font-size: clamp(1.8rem, 3vw, 5rem);
    font-weight: 200;
    margin-top: 50px;
  }
  .section2-bis .section2-bis-top-container div:first-of-type h4:nth-of-type(2) {
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 0.8;
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 4rem);
  }
  .section2-bis .img-section2-bis-top-container {
    background: url(/img/ic-plate.png) no-repeat center/contain;
    width: clamp(20px, 8vw, 30px);
    height: clamp(20px, 8vw, 30px);
    margin-bottom: 5px;
    margin-top: 25px;
  }
  .section2-bis-bottom-container {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    width: 90%;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "block1 block3 " "block2 block3";
  }
  .section2-bis-bottom-container .block1 {
    background-color: #ffffff;
    grid-area: block1;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section2-bis-bottom-container .block1 .img-container-block1 {
    background: url(/img/event-01.jpg) center left/cover;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-bis-bottom-container .block1 .img-container-block1 .gray-carre {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: 5px 5px;
    text-align: center;
    background-color: #37342f;
    width: clamp(60px, 6vw, 200px);
    height: clamp(60px, 6vw, 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) {
    font-family: "Roboto", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 15px;
    width: 85%;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) p:nth-of-type(1) {
    font-weight: 300;
    margin: 20px 0;
    font-size: clamp(0.9rem, 1.4vw, 3rem);
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: clamp(0.6rem, 1vw, 2rem);
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div div:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div i,
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div span {
    color: gray;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) div span {
    font-weight: 200;
  }
  .section2-bis-bottom-container .block1 div:nth-of-type(2) p:nth-of-type(2) {
    font-weight: 400;
    font-size: clamp(0.7rem, 1.2vw, 2rem);
    margin-bottom: 50px;
  }
  .section2-bis-bottom-container .block2 {
    background-color: #ffffff;
    grid-area: block2;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section2-bis-bottom-container .block2 .img-container-block2 {
    background: url(/img/event-02.jpg) center left/cover;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-bis-bottom-container .block2 .gray-carre {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: 5px 5px;
    text-align: center;
    background-color: #37342f;
    width: clamp(60px, 6vw, 200px);
    height: clamp(60px, 6vw, 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) {
    font-family: "Roboto", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 15px;
    width: 85%;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) p:nth-of-type(1) {
    font-weight: 300;
    margin: 20px 0;
    font-size: clamp(0.9rem, 1.4vw, 3rem);
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: clamp(0.6rem, 1vw, 2rem);
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div div:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div i,
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div span {
    color: gray;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) div span {
    font-weight: 200;
  }
  .section2-bis-bottom-container .block2 div:nth-of-type(2) p:nth-of-type(2) {
    font-weight: 400;
    font-size: clamp(0.7rem, 1.2vw, 2rem);
    margin-bottom: 50px;
  }
  .section2-bis-bottom-container .block3 {
    background-color: #ffffff;
    background: url(/img/event-03.jpg) center center/cover;
    grid-area: block3;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
  }
  .section2-bis-bottom-container .block3 .block3-container {
    background-color: #ffffff;
    height: 85%;
    width: 85%;
    z-index: 2;
  }
  .section2-bis-bottom-container .block3 .block3-container div {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2-bis-bottom-container .block3 .block3-container div div:nth-of-type(1) {
    background-color: #37342f;
    width: clamp(60px, 6vw, 200px);
    height: clamp(60px, 6vw, 200px);
  }
  .section2-bis-bottom-container .block3 .block3-container div .gray-carre {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: 5px 5px;
    text-align: center;
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container p:nth-of-type(1) {
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: clamp(0.9rem, 1.4vw, 3rem);
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container .map-clock-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    white-space: nowrap;
    background-color: transparent;
    width: 50%;
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container .map-clock-container div:nth-of-type(1),
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container .map-clock-container div:nth-of-type(2) {
    background-color: transparent;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
    font-size: clamp(0.6rem, 1vw, 2rem);
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container .map-clock-container div:nth-of-type(2) {
    margin-left: 15px;
  }
  .section2-bis-bottom-container .block3 .block3-container .block3-text-container p:nth-of-type(2) {
    font-weight: 400;
    font-size: clamp(0.7rem, 1.2vw, 2rem);
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
  }
}
.section3 {
  background-color: #37342f;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section3 .bg-img-section3 {
  background: url(/img/gmap.jpg) center 45%/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 275px;
  bottom: 0;
}
.section3 .section-3-container {
  background-color: #ffffff;
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  text-align: center;
}
.section3 .section-3-container::before {
  display: block;
  position: absolute;
  content: "";
  background: url(/img/avatar-02.jpg) center center/cover;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.section3 .section-3-container .section-3-text-container {
  width: 70%;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 40px 20px;
  line-height: 2.1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: clamp(0.8rem, 1vw, 2.5rem);
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  font-family: "PlayFlair", sans-serif;
  vertical-align: middle;
  color: #444;
  margin: 0 6px;
  display: inline;
  line-height: 0.5;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span:first-of-type {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span:last-of-type {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(2) {
  font-size: clamp(1.2rem, 1.8vw, 2rem);
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  margin-bottom: 15px;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(3) {
  font-size: clamp(0.8rem, 1.2vw, 2.5rem);
  font-family: "Roboto", sans-serif;
  color: #cdaf74;
  font-weight: 350;
  margin-bottom: 30px;
}

/**************MEDIA QUERIES************/
@media (min-width: 450px) {
  .section3 .bg-img-section3 {
    background: url(/img/gmap.jpg) center 50px/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 350px;
  }
}
@media (min-width: 768px) {
  .section3 .bg-img-section3 {
    background: url(/img/gmap.jpg) center 45%/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 275px;
    bottom: 0;
  }
}
.footer-desktop {
  display: none;
}

footer {
  background-color: #37342f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-container .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}
footer .footer-container .newsletter-form label {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
footer .footer-container .newsletter-form input {
  margin-top: 10px;
  width: clamp(150px, 30vw, 300px);
  height: clamp(35px, 5vw, 50px);
  font-size: clamp(0.9rem, 1.5vw, 1.3rem);
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
}
footer .footer-container div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  gap: 25px;
}
footer .footer-container div:nth-of-type(1) h5 {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
footer .footer-container div:nth-of-type(1) div {
  gap: 25px;
  margin-bottom: 0;
}
footer .footer-container div:nth-of-type(1) div i {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  color: gray;
}
footer .footer-container-desktop {
  display: none;
}

/**************MEDIA QUERIES************/
@media (min-width: 768px) {
  footer {
    display: none;
  }
  .footer-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-desktop .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
  .footer-desktop .footer-container .footer-container-left-part {
    height: 100%;
    background-color: black;
    padding: 20px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-desktop .footer-container .footer-container-left-part div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-desktop .footer-container .footer-container-left-part div h5,
  .footer-desktop .footer-container .footer-container-left-part div p {
    margin: 0;
  }
  .footer-desktop .footer-container .footer-container-left-part div h5 {
    font-family: "Allura", sans-serif;
    color: #cdaf74;
    font-size: clamp(1.5rem, 2vw, 3rem);
  }
  .footer-desktop .footer-container .footer-container-left-part div p {
    line-height: 1.8;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
  }
  .footer-desktop .footer-container .footer-right-part {
    background-color: #37342f;
  }
  .footer-desktop .footer-container .footer-right-part .footer-container-right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 15px;
  }
  .footer-desktop .footer-container .footer-right-part .footer-container-right-part div:nth-of-type(1) {
    gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-desktop .footer-container .footer-right-part .footer-container-right-part div:nth-of-type(1) div:nth-of-type(1) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
/************ BASE **************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */