/************ LAYOUT **************/
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&&display=swap");
/************** FONT *************/
/************** COLOR *************/
header .bg-img-header-top {
  background: url(/img/bg-slider-06.jpg) center center/cover;
  height: 100vh;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
header nav li {
  list-style: none;
  font-family: "Allura", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
header nav .nav-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px;
}
header .top-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-bottom: 175px;
}
header .top-header-container .h1-div {
  text-align: center;
  margin-top: 10px;
}
header .top-header-container .gold-color {
  color: #cdaf74;
  font-family: "Allura", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0;
}
header .top-header-container h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  padding-bottom: 35px;
  font-size: 1.5rem;
}
header .top-header-container .top-header-img {
  background: url(/img/ic-plate-big.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
}
header .top-header-container p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
header .bottom-header {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
header .bottom-header .bottom-header-border {
  border: 1px dotted #cdaf74;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .bottom-header .bottom-header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
header .bottom-header .bottom-header-container h2 {
  width: 70%;
  font-family: "Allura", sans-serif;
  font-size: 1.8rem;
  color: #cdaf74;
  line-height: 0.8;
  font-weight: 500;
}
header .bottom-header .bottom-header-container .basic-title {
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 0.8;
  font-weight: 700;
}
header .bottom-header .bottom-header-container .bottom-header-img1 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .bottom-header .bottom-header-container .header-p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
header .bottom-header .bottom-header-container .bottom-header-img2 {
  background: url(/img/avatar-01.jpg) no-repeat center/contain;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 10px;
}
header .bottom-header .bottom-header-container p {
  width: 70%;
  font-family: "Poppins", sans-serif;
}
header .bottom-header .bottom-header-container .chef-name {
  font-weight: 500;
  line-height: 1.2;
}
header .bottom-header .bottom-header-container .chef-attribute {
  color: rgb(134, 134, 134);
  line-height: 2;
  font-size: 0.6rem;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37342f;
  position: relative;
  z-index: 1;
}
.section1 .bg-img-section1 {
  background: url(/img/bg-menu-01.jpg) center bottom/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  z-index: 2;
}
.section1 .top-section1,
.section1 .bottom-section1 {
  position: relative;
  z-index: 3;
}
.section1 .top-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section1 .top-section1 div:first-of-type {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .top-section1 div:first-of-type h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 300;
}
.section1 .top-section1 .top-img-section1 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}
.section1 .top-section1 div:last-of-type {
  width: 85%;
}
.section1 .top-section1 div:last-of-type nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}
.section1 .top-section1 div:last-of-type nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.section1 .top-section1 div:last-of-type nav li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  color: white;
  position: relative;
  padding-bottom: 10px;
}
.section1 .top-section1 div:last-of-type nav li::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: white;
  bottom: 0;
}
.section1 .bottom-section1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .bottom-section1 .bottom-section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 100px;
}
.section1 .bottom-section1 .bottom-section1-container::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #cdaf74;
  height: 4px;
  width: 100%;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 {
  margin-top: 20px;
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, rgb(174, 174, 174) 0, rgb(174, 174, 174) 1px, transparent 2px, transparent 6px);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 .img-menu-details1 {
  background: url(/img/dish-item-01.jpg) no-repeat center/cover;
  width: 65px;
  height: 35px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 200;
  color: black;
  padding-top: 5px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details1 div :last-of-type {
  color: #cdaf74;
  font-size: 0.9rem;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details {
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, rgb(174, 174, 174) 0, rgb(174, 174, 174) 1px, transparent 2px, transparent 6px);
}
.section1 .bottom-section1 .bottom-section1-container .menu-details div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 200;
  color: black;
  padding-top: 5px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details div :last-of-type {
  color: #cdaf74;
  font-size: 0.9rem;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details2 {
  background: url(/img/dish-item-02.jpg) no-repeat center/cover;
  width: 65px;
  height: 35px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details3 {
  background: url(/img/dish-item-03.jpg) no-repeat center/cover;
  width: 48px;
  height: 33px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details4 {
  background: url(/img/dish-item-04.jpg) no-repeat center/cover;
  width: 48px;
  height: 33px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details5 {
  background: url(/img/dish-item-05.jpg) no-repeat center/cover;
  width: 48px;
  height: 35px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details6 {
  background: url(/img/dish-item-06.jpg) no-repeat center/cover;
  width: 55px;
  height: 33px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details7 {
  background: url(/img/dish-item-07.jpg) no-repeat center/cover;
  width: 44px;
  height: 34px;
  border-radius: 30px;
}
.section1 .bottom-section1 .bottom-section1-container .menu-details .img-menu-details8 {
  background: url(/img/dish-item-08.jpg) no-repeat center/cover;
  width: 50px;
  height: 35px;
  border-radius: 15px;
}

.section2 {
  background-color: #37342f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .border-top-section2 {
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 70px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .top-container-section2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: black;
  border: 1px dotted white;
}
.section2 .top-container-section2 h4:nth-of-type(1) {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 0.8;
}
.section2 .top-container-section2 h4:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.5;
  margin-bottom: 20px;
}
.section2 .top-img-section2 {
  background: url(/img/ic-plate.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  margin-bottom: 30px;
}
.section2 .text1-container {
  margin-bottom: 25px;
}
.section2 .text1-container p:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
  margin-bottom: 10px;
}
.section2 .text1-container p:nth-of-type(2),
.section2 .text1-container p:nth-of-type(3) {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
.section2 .text2-container {
  margin-top: 20px;
  margin-bottom: 25px;
}
.section2 .text2-container p:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
  margin-bottom: 10px;
}
.section2 .text2-container p:nth-of-type(2),
.section2 .text2-container p:nth-of-type(3) {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
.section2 .text3-container {
  font-family: "Poppins", sans-serif;
  color: #cdaf74;
}
.section2 .bottom-section2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
.section2 .bottom-section2 .bottom-section2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .bottom-section2 .bottom-section2-container h4:nth-of-type(1) {
  font-family: "Allura", sans-serif;
  color: #cdaf74;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 0.8;
  margin-top: 20px;
}
.section2 .bottom-section2 .bottom-section2-container h4:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 30px;
}
.section2 .bottom-section2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.section2 .bottom-section2 form input,
.section2 .bottom-section2 form select {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 8px;
}
.section2 .bottom-section2 form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .bottom-section2 form button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.section3 {
  background-color: #37342f;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section3 .bg-img-section3 {
  background: url(/img/gmap.jpg) center bottom/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 275px;
  bottom: 0;
}
.section3 .section-3-container {
  background-color: #ffffff;
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  text-align: center;
}
.section3 .section-3-container::before {
  display: block;
  position: absolute;
  content: "";
  background: url(/img/avatar-02.jpg) center center/cover;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.section3 .section-3-container .section-3-text-container {
  width: 70%;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 40px 20px;
  line-height: 2.1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span {
  font-size: 2rem;
  font-family: "PlayFlair", sans-serif;
  vertical-align: middle;
  color: #444;
  margin: 0 6px;
  display: inline;
  line-height: 0.5;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span:first-of-type {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(1) span:last-of-type {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(2) {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  margin-bottom: 15px;
}
.section3 .section-3-container .section-3-text-container p:nth-of-type(3) {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: #cdaf74;
  font-weight: 350;
  margin-bottom: 30px;
}

/**************MEDIA QUERIES************/
footer {
  background-color: #37342f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-container .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}
footer .footer-container .newsletter-form label {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
footer .footer-container .newsletter-form input {
  margin-top: 5px;
  width: 60%;
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
}
footer .footer-container div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
footer .footer-container div:nth-of-type(1) h5 {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
footer .footer-container div:nth-of-type(1) div {
  gap: 25px;
}
footer .footer-container div:nth-of-type(1) div i {
  font-size: 0.8rem;
  color: gray;
}

/************ BASE **************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */