@use '../base/variables';
@use '../base/mixins';

header {

    .bg-img-header-top {
        background: url(../img/bg-slider-06.jpg) center center / cover;
        height: 100vh;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;

        ul:nth-of-type(1) {

            li {
                list-style: none;
                font-family: variables.$title-font;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        ul:nth-of-type(2) {
            display: none;
        }

        .nav-social-media {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding: 15px;
        }
    }

    .top-header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-bottom: 175px;

        .h1-div {
            text-align: center;
            margin-top: 10px;

        }

        .gold-color {
            color: variables.$title-font-color;
            font-family: variables.$title-font;
            letter-spacing: 0;
            font-weight: 300;
            padding-top: 30px;
            padding-bottom: 0;
        }

        h1 {
            color: white;
            font-family: variables.$font-secondary;
            letter-spacing: 10px;
            padding-bottom: 35px;
            font-size: clamp(1.5rem, 4vw, 3.5rem);
        }

        .top-header-img {
            background: url(../img/ic-plate-big.png) no-repeat center/contain;
            width: clamp(20px, 10vw, 40px);
            height: clamp(20px, 10vw, 40px);
        }

        p {
            color: white;
            font-family: variables.$font-primary;
            font-size: clamp(0.7rem, 1.8vw, 1rem);
            text-transform: uppercase;
            letter-spacing: 6px;
            text-align: center;
            padding-top: clamp(2rem, 3vw, 4rem);
        }
    }

    .bottom-header {
        width: 100%;
        padding: 20px;
        background-color: variables.$bg-secondary-color;

        .bottom-header-border {
            border: 1px dotted variables.$title-font-color;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bottom-header-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;

            h2 {
                width: 70%;
                font-family: variables.$title-font;
                font-size: 1.8rem;
                color: variables.$title-font-color;
                line-height: 0.8;
                font-weight: 500;
            }

            .basic-title {
                font-family: variables.$font-secondary;
                color: variables.$font-color;
                line-height: 0.8;
                font-weight: 700;
            }

            .bottom-header-img1 {
                background: url(../img/ic-plate.png) no-repeat center/contain;
                width: 22px;
                height: 22px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .header-p {
                width: 100%;
                font-family: variables.$font-primary;
                font-weight: 200;
                font-size: 0.9rem;
                margin-bottom: 20px;
            }

            .bottom-header-img2 {
                background: url(../img/avatar-01.jpg) no-repeat center / contain;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            p {
                width: 70%;
                font-family: variables.$font-secondary;
            }

            .chef-name {
                font-weight: 500;
                line-height: 1.2;
            }

            .chef-attribute {
                color: rgb(134, 134, 134);
                line-height: 2;
                font-size: 0.6rem;
            }
        }

        .bottom-header-right-container {
            display: none;
        }
    }
}

/**************MEDIA QUERIES************/

@media (min-width: 768px) {

    header {
        .top-header-container {
            br {
                display: none;
            }
        }
    }
}

@media (min-width: 1024px) {
    header {

        nav {
            justify-content: space-evenly;

            ul:nth-of-type(2) {
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 50px;
                font-family: variables.$font-primary;
                font-size: 0.8rem;
                font-weight: 400;
                cursor: pointer;
            }

        }


        .top-header-container {

            .top-header-img {
                margin-bottom: 25px;
            }

            p {
                margin-bottom: 45px;
            }
        }

        .bottom-header {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 0;

            .bottom-header-border {
                padding: 15px;
            }

            .bottom-header-container {
                border: 1px dotted variables.$title-font-color;
                padding: 15px;
                margin: 0;
            }

            .bottom-header-right-container {
                display: flex;
                background: url(../img/store-01.jpg) center center / cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) {
    header {
        .top-header-container {
            p {
                padding-top: 6px;
            }
        }
    }
}