<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/scss/style.css">
    <title>Le Resto</title>
</head>
<body>
   <header>
    <div class="bg-img-header-top">
   <nav>
    <ul>
        <li>Resto</li>
    </ul>
    <div class="nav-social-media">
       <i class="fa-brands fa-facebook-f"></i>
       <i class="fa-brands fa-twitter"></i>
       <i class="fa-brands fa-instagram"></i>
    </div>
   </nav>

   <div class="top-header-container">
    <div class="h1-div">
<h1 class="gold-color">Welcome to</h1>
<h1>THE RESTO</h1>
</div>
<div class="top-header-img"></div>
<p>We serve only the <br> freshest ingredients!</p>
   </div>
   </div>
 

<div class="bottom-header">
    <div class="bottom-header-border">
<div class="bottom-header-container">
<h2>Discover</h2>
<h2 class="basic-title">OUR STORE</h2>
<div class="bottom-header-img1"></div>
<p class="header-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo iure vel porro quia, repellat ea modi. Accusantium nemo velit exercitationem sapiente temporibus perferendis quaerat ipsa? Perferendis rerum odit officiis fugit necessitatibus amet provident, porro suscipit soluta, laudantium ducimus quae quis iure blanditiis temporibus sequi accusantium aliquid. Provident, dolorum consequuntur.</p>
<div class="bottom-header-img2"></div>
<p class="chef-name">Russell Stephens</p>
<p class="chef-attribute">CHEF COOK</p>
</div>
</div>
</div>
  </header>


<main>
<section class="section1">
    <div class="bg-img-section1"></div>
<div class="top-section1">
<div>
<h3>Discover</h3>
<div class="top-img-section1"></div>
</div>

<div>
    <nav>
        <ul>
            <li>Breakfast</li>
            <li>Lunch</li>
            <li>Dinner</li>
            <li>Drinks</li>
            <li>Other</li>
        </ul>
    </nav>
</div>
</div>

<div class="bottom-section1">
    <div class="bottom-section1-container">
<div class="menu-details1">

<div class="img-menu-details1"></div>
<div>
<p>ITALIAN SOURCE MUSHROOM</p>
<p>Mushroom / Garlic / Veggies</p>
</div>
<div>
<p>$12</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details2"></div>
<div>
<p>FRIED POTATOES WITH GARLIC</p>
<p>Potatoes / Olive Oil / Garlic</p>
</div>
<div>
<p>$22</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details3"></div>
<div>
<p>TENU ROAST SOURCE</p>
<p>Tuna / Potatoes / Rice</p>
</div>
<div>
<p>$15</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details4"></div>
<div>
<p>ROAST PORK (4 STICKS)</p>
<p>Pork / Veggies / Shoyu</p>
</div>
<div>
<p>$18</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details5"></div>
<div>
<p>SALTED FRIED CHICKEN</p>
<p>Chicken / Olive Oil / Salt</p>
</div>
<div>
<p>$20</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details6"></div>
<div>
<p>CRAB WITH CURRY SOURCES</p>
<p>Crabe / Potatoes / Rice</p>
</div>
<div>
<p>$14</p>
</div>
</div>

<div class="menu-details">
<div class="img-menu-details7"></div>
<div>
<p>IMPORTED SLAMON STEAK</p>
<p>Salmon / Veggies / Oil</p>
</div>
<div>
    <p>$16</p>
    </div>
</div>

<div class="menu-details">
<div class="img-menu-details8"></div>
<div>
<p>BAKED TOMATO PIZZA</p>
<p>Potato / Bread / Cheese</p>
</div>
<div>
<p>$25</p>
</div>
</div>
</div>
</div>
</section>


<section class="section2">
    <div class="border-top-section2">
<div class="top-container-section2">
    <h4>Time</h4>
    <h4>OPEN</h4>
    <div class="top-img-section2"></div>

    <div class="text1-container">
<p>MONDAY - FRIDAY</p>
<p>7AM - 11AM (Breakfast)</p>
<p>11AM - 10PM (Lunch/Dinner)</p>
    </div>

    <div class="text2-container">
<p>SATURDAY / SUNDAY</p>
<p>8AM - 1PM (Brunch)</p>
<p>1PM - 9PM (Lunch/Dinner)</p>
    </div>
    
    <div class="text3-container">
<p>+15 890 979 25 52</p>
    </div>
</div>
</div>

<div class="bottom-section2">
    <div class="bottom-section2-container">
 <h4>Reservation</h4>
    <h4>ONLINE BOOKING</h4>
    <div class="top-img-section2"></div>

<form class="booking-form">
  <select name="people" required>
    <option value="" disabled selected>People</option>
    <option value="1">1 person</option>
    <option value="2">2 people</option>
    <option value="3">3 people</option>
    <option value="4+">4+</option>
  </select>

  <input type="date" name="date" required />

  <input type="time" name="time" required />

  <input type="text" name="name" placeholder="Name" required />

  <input type="tel" name="phone" placeholder="Phone" required />

  <input type="email" name="email" placeholder="Email" required />

  <div>
  <button type="submit">BOOK NOW</button>
  </div>
</form>
</div>
</div>
</section>

<section class="section3">
<div class="section-3-container">
<p class="testimonial">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque explicabo harum iste maiores totam ipsa, animi molestias odit tempora impedit saepe quas dicta, debitis ullam quisquam excepturi quidem ab blanditiis inventore. Voluptatibus ducimus fugiat minus itaque, provident in maxime harum nostrum dignissimos beatae a esse, autem tempora facilis aliquam ullam!</p>
<p>Russel Stephens</p>
<p>CEO - HeadPassion</p>
</div>
</section>
</main>

<footer>
<div class="footer-container">
<form class="newsletter-form">
  <label for="newsletter">NEWSLETTER</label>
  <input
    type="email"
    name="newsletter"
    id="newsletter"
    placeholder="Your email address"
    required
  />
  <button type="submit">Subscribe</button>
</form>

<div>
    <h5>FOLLLOW US</h5>
    <div>
        <i class="fa-brands fa-facebook-f"></i>
       <i class="fa-brands fa-twitter"></i>
       <i class="fa-brands fa-instagram"></i>
       <i class="fa-brands fa-pinterest-p"></i>
    </div>
</div>
</div>
</footer> 
</body>
</html>